{% extends 'email/base.html.twig' %}

{% block title %}Contact message received{% endblock %}

{% block body %}
    <p>Hello there!
        <br/>We got new contact message from {{ contact.name }} ({{ contact.email }})</p>
{% endblock %}
